body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.other-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-features button {
    margin-top: 10px;
}

h1,
p {
    text-align: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.buttons {}