
body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    font-family: 'Nunito','Open Sans', sans-serif;
    background-color: #CCD4DF;
}


.timer-container {
    background-color: #202833;
    width: 100vw;
    padding: 12px 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .buttons {

        #start-btn{
            background: url(/images/play.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        #pause-btn{
            background: url(/images/pause.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        #stop-btn{
            background: url(/images/stop.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .pomodoro-button{
            border: none;
            width: 12.5px;
            height: 12.5px;
        }
    }

}

.timer {
    border: 4px solid #F1ECE9;
    border-radius: 20px;
    padding: 5px 20px;
    display: block;
    color: #F1ECE9;
}

.timer-header {
    font-weight: 700;
    font-size: 48px;
}

.other-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 14px;
    border: 0;
}
.other-features button {
    margin-top: 10px;
}

h1, h2,
p {
    text-align: center;
}


.buttons {
    padding-top: 10px;
}

button {
    background-color: #F1ECE9;
    color: #202833;
    padding: 5px 10px;
    margin: 0px 2px;
    font-size: 12px;
}


.dictionary-container, .notes-container, .tasks-container {
    background-color: #F1ECE9;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    label {
        background-color: #202833;
        cursor: pointer;
        display: block;
        padding: 10px;
        color: #F1ECE9;
        font-size: 14px;
        text-align: center;
        position: relative;
        font-weight: bolder;
        margin: 0;
    }

    .dictionary-content, .notes-content, .tasks-content {
        color: #202833;
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        padding: 0 20px;
        transition: all 0.5s ease;
        opacity: 0;
        color: #5F7A92;
        * {
            opacity: 0;
            transition: all 0.5s ease;
        }
    }

    #dict-btn, #notes-btn, #tasks-btn {
        display: none;
        &:checked + label + div {
            max-height: 100vh;
            visibility: visible;
            opacity: 1;
            padding: 20px;
            * {
                opacity: 1;
            }
        }
    }

}


label:hover {
    color: #CCD4DF;
    transition: all .3s ease;
}