.task-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tasklist {
  display: flex;
  flex-direction: column;
  /* min-height: 10vh; */
  padding-right: 5px;
  width: 100%;
  /* border: 4px solid pink; */

  * {
    border: none;
    padding: 0;
    margin: 0;
  }

  .task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: stretch; */
    align-self: stretch;
    align-content: stretch;
    border-radius: 5px;
    margin: 2px 0;
    padding: 0 6px;
    /* min-height: 1.5rem; */
    /* height: auto; */
    /* resize: vertical; */
    align-items: center;
    /* border: 2px solid; */
    min-width: 98%;

    .task-item-rbutton {
      min-width: 20px;
      height: 20px;
      border-radius: 3px;
      /* margin-left: 3px; */
      font-size: 1em;
    }
    .task-item-checkbox {
      width: 18px;
      height: 18px;
      margin-left: -4px;
    }
    .hidden-checkbox {
      visibility: hidden;
    }
    .task-item-rbutton:hover {
      background: #202833;
      color: white;
    }

    .task-item-delete {
      background: #e17d7d;
      color: white;
    }
    .task-item-delete:hover {
      background: darkred;
      color: white;
    }
    .task-item-rbutton:active {
      transition: none;
      background: black;
      color: white;
    }
  }

  .task-deleting {
    background: #e17d7d;
    .task-item-delete {
      background: darkred;
      color: white;
    }
  }

  #new-task {
    background: #cdc3bd;
    transition: 0s;
    .task-item-rbutton {
      background: rgba(0, 0, 0, 0);
    }
    .task-item-rbutton:hover {
      background: #202833;
      color: white;
    }
    .task-item-rbutton:active {
      transition: none;
      background: #f1ece9;
      color: black;
    }
  }

  /* Make text boxes look discreet */
  .task-item textarea {
    background: rgba(0, 0, 0, 0);
    outline: none;
    /* border: 2px solid pink; */
    /* height: 1.2rem; */
    /* height: fit-content; */
    resize: none;
    display: block;
    width: 100%;
    padding: 0px 10px;
    font-family: 'Nunito', 'Open Sans', sans-serif;
    color: #202833;
  }

  .task-done {
    text-decoration: line-through;
  }
}

#tasklist::-webkit-scrollbar {
  width: 5px;
}

#tasklist::-webkit-scrollbar-thumb {
  background: #202833;
  width: 10px;
  border-radius: 2px;
}

#tasklist::-webkit-scrollbar-track {
  background: #cdc3bd;
  width: 10px;
  border-radius: 2px;
}

#create-task-button {
  background: url(../../assets/img/add.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  width: 30px;
  height: 30px;
}

#create-task-button:hover {
  background: url(../../assets/img/add-hover-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s ease;
}
