@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: 'Noto Sans', sans-serif;
}

.create-note-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;

  * {
    transition: none !important;
  }

  textarea {
    resize: vertical;
    font-family: inherit;
  }
}

button#create-note {
  margin-bottom: 0.5rem;
}

.note-list-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.note-list-container * {
  text-align: left;
  margin: 0;
}

.note-item {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

.search-note-input {
  height: 1.2rem;
  padding: 0.1rem;
}

.search-note-button {
  min-height: 1.2rem;
  padding: 0.1rem;
}
