:root {
  background-color: #ccd4df;
}

.panel-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Nunito', 'Open Sans', sans-serif;
  background-color: #ccd4df;
  padding-bottom: 30px;
}

.timer-container {
  background-color: #202833;
  width: 100%;
  padding: 12px 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons {
    #start-button {
      background: url(../../assets/img/play.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }

    #pause-button {
      background: url(../../assets/img/pause.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }

    #skip-button {
      background: url(../../assets/img/skip.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }

    #start-button:hover {
      background: url(../../assets/img/play-hover.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    #skip-button:hover {
      background: url(../../assets/img/skip-hover.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    #pause-button:hover {
      background: url(../../assets/img/pause-hover.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }

    .pomodoro-button {
      border: none;
      width: 12.5px;
      height: 12.5px;
    }
  }
}

.timer {
  border: 4px solid #f1ece9;
  border-radius: 20px;
  padding: 5px 20px;
  display: block;
  color: #f1ece9;
}

.timer-header {
  font-weight: 700;
  font-size: 48px;
}

.other-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 14px;
  border: 0;
}

.other-features button {
  margin-top: 10px;
}

h1,
h2,
p {
  text-align: center;
}

.buttons {
  padding-top: 10px;
}

button {
  background-color: #f1ece9;
  color: #202833;
  padding: 5px 10px;
  margin: 0px 2px;
  font-size: 12px;
}

.feature-container {
  background-color: #f1ece9;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
  border-radius: 5px;

  label {
    background-color: #202833;
    cursor: pointer;
    display: block;
    padding: 10px;
    color: #f1ece9;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    position: relative;
    font-weight: bold;
    margin: 0;
  }

  .feature-content {
    color: #202833;
    font-size: 14px;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0 20px;
    transition: all 0.5s ease;
    opacity: 0;
    color: #5f7a92;

    * {
      opacity: 0;
      transition: all 0.5s ease;
    }
  }

  #dictionary-content {
    * {
      margin: 0 0;
    }

    p {
      text-align: left;

      .word-speechpart {
        /* font-size: 0.2em; */
        font-size: 12px;
        line-height: 2em;
      }
    }

    .word-meaning {
      margin-bottom: 10px;
      /* font-size: 0.8em; */
      font-size: 14px;
    }

    .word {
      font-size: 24px;
      margin-bottom: 1%;
      font-weight: bold;
      padding-top: 10px;
      color: #5f7a92;
      overflow-wrap: anywhere;

      .word-phonetic {
        font-size: 12px;
      }
    }
  }

  .feature-button {
    display: none;

    &:checked + label + div {
      max-height: 100%;
      visibility: visible;
      opacity: 1;
      padding: 20px;

      * {
        opacity: 1;
      }
    }
  }
}

label:hover {
  background-color: #5f7a92;
  /* background-color: #6d7d95; */
  /* color: #202833; */
  transition: all 0.3s ease;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
}

.search-box input {
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #202833;
  color: #ccd4df;
}

.search-box button {
  padding-right: 10px;
  width: 50px;
  background-color: #202833;
  border: none;
  outline: none;
  cursor: pointer;
}
